.input{
    border: solid 1px black;
    border-radius: 1px;
    font-family: monospace;
}
.selecionar{
    border: solid 1px black;
    border-radius: 1px;
    font-family: monospace;
}
.botao{
    border: solid 1px black;
    border-radius: 1px;
    font-family: monospace;
}
.resultados{
    align-self: self-start;
    font-family: monospace;
    border-style: solid;
    width: 400px;
    height: 20px;
}
body{
    background-image: url(./fundo.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: relative; 
}
.box{
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(0%, 40%);
    margin: auto;
    background-color: rgba(224, 168, 168, 0.664);
    border: solid 2px black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-start;
    padding: 20px;
    
}

h1{
    font-family: monospace;
    align-self: center;
}
